{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Forgot{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="limiter">
        <div class="container-form">
            <div class="text-center">
                <form class="form" method="post">
                    {{ form.csrf_token }}
                    {% if form.csrf_token.errors %}
                        <div class="warning">You have submitted an invalid CSRF token</div>
                    {% endif %}
                    <p>
                    {{ form.email(placeholder="Email") }}
                    <span class="symbol">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                    </p>

                    <p>
                    <input type="submit" class="btn btn-primary" value="Send email" />
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
