{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Forgot{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="limiter">
        <div class="container-">
                <div class="text-center p-t-12">
                    <form class="form" method="post">
                        <p>
                        <input class="input" type="text" name="email" placeholder="Email" required>
                        <span class="symbol">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                        </p>

                        <p>
                        <input type="submit" class="btn btn-primary" value="Send email" />
                        </p>
                    </form>
                </div>
        </div>
    </div>
{% endblock %}
