{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Login{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="limiter">
        <div class="container-">
                <div class="text-center p-t-12">
                    <form class="form" method="post">
                        <p>
                        <input class="input" type="text" id="username" name="username" placeholder="Username" required>
                        <span class="symbol">
                            <i class="fa fa-user"></i>
                        </span>
                        </p>
                        <p>
                        <input class="input" type="password" name="password" id="password" placeholder="Password" required>
                        <span class="symbol">
                            <i class="far fa-eye" id="togglePassword" aria-hidden="true"></i>
                        </span>
                        <script src="/static/app.js"></script>
                        </p>
                        
                        <p>
                        <input type="submit" class="btn btn-primary" value="Login" />
                        </p>

                        <p class="text-center p-t-12">
                        <span class="txt1">
                            Forgot
                        </span>
                        <a class="txt2" href="{{ url_for('auth.forgot') }}">
                            Username / Password?
                        </a>
                        </p>

                        <p class="text-center p-t-136">
                        <a class="txt2" href="{{ url_for('auth.register') }}">
                            Register
                        </a>
                        </p>
                    </form>
                </div>
        </div>
    </div>
{% endblock %}
