{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Blogs{% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('blog.create') }}">Create Blog</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% for blog in blogs %}
        <article class="blog">
            <a class="action" href="{{ url_for('blog.detail', id=blog['id']) }}">{{ blog['title'] }}</a>
            {% if g.user['id'] == blog['author_id'] %}
                <a class="action" href="{{ url_for('blog.update', id=blog['id']) }}">  
                    <i class="fa fa-pencil"></i>
                </a>
                <a class="action" href="{{ url_for('blog.delete', id=blog['id']) }}">
                    <i class="fa fa-trash" onclick="return confirm('Are you sure?');"></i> 
                </a>
            {% endif %}
            {% if g.user %}
                <p>
                Posted by {{ blog['username'] }} on {{ blog['created'].strftime('%Y-%m-%d') }}
                </p>
            {% endif %}
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}
