{% extends 'base.html' %}

{% block header %}

    <h1>{% block title %}Blogs{% endblock %}</h1>

    <!-- https://www.w3schools.com/howto/howto_css_search_button.asp -->
    <form>
        {% if g.user %}
            <a class="action-create" href="{{ url_for('blog.create') }}">Create Blog</a>
        {% endif %}
        <div class="search-text"><input type="text" placeholder="Search.." name="search"
        {% if search %} value="{{ search }}" {% endif %}
        ></div>
        <div class="search-button"><button type="submit"><i class="fa fa-search"></i></button></div>
        <div class="return"><a href="{{ url_for('index') }}"><i class="fa fa-undo"></i></a></div>
    </form>

{% endblock %}

{% block content %}

    {% for blog in blogs %}
        <article class="blog">
            <a class="action" href="{{ url_for('blog.detail', blog_id=blog['id']) }}">{{ blog['title'] }}</a>
            {% if g.user['id'] == blog['author_id'] %}
                <a class="action" href="{{ url_for('blog.update', blog_id=blog['id']) }}">  
                    <i class="fa fa-pencil"></i>
                </a>
                <a class="action" href="{{ url_for('blog.delete', blog_id=blog['id']) }}">
                    <i class="fa fa-trash" ></i> 
                </a>
            {% endif %}
            {% if g.user %}
                <p>
                Posted by {{ blog['username'] }} on {{ blog['updated'].strftime("%Y-%m-%d at %H:%M:%S") }}
                </p>
            {% endif %}
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}
