{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Edit Blog "{{ blog['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        {{ form.title.label }}
        {{ form.title(value=blog['title']) }}
        {{ form.body.label }}
        <textarea name="body" id="body">{{ request.form['body'] or blog['body'] }}</textarea>
        {{ form.public.label }}
        {% if blog['public'] == 1 %}
            {{ form.public(checked=true) }}
        {% else %}
            {{ form.public() }}
        {% endif %}
        <input type="submit" value="Save">
    </form>
    <hr>
    <form action="{{ url_for('blog.delete', id=blog['id']) }}" method="post">
        <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
    </form>
{% endblock %}
