html {
  font-family: sans-serif;
  background: #333131;
  padding: 1rem;
}

body {
  background-image: url('/static/img/home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1020px;
  min-height: 450px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  color: #afbdec;
  margin: 1rem 0;
}

a {
  color: #051a5e;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
  background: lightgray;
  display: flex;
  min-height: 50px;
  align-items: center;
  padding: 0 0.5rem;
}

nav h1 {
  flex: auto;
  margin: 0;
}

nav a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

nav b {
  color: #1000ec;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a, nav ul li b, header .action {
  display: block;
  padding: 0.5rem;
  font-size: 1.5em;
}

.content {
  padding: 0 1rem 1rem;
}

.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  min-height: 80px;
}

.content > header a {
  margin: 1rem 0 0.25rem 0;
  color: #190ae7;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
  align-items: center;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}

.blog > header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}

.blog > header > div:first-of-type {
  flex: auto;
}

.blog > header h1 {
  font-size: 2em;
  margin-bottom: 0;
}

.blog .about {
  color: slategray;
  font-style: italic;
}

.blog a {
  font-size: 1.7em;
  color: #0c35ec;
  font-style: italic;
}

.blog i, p {
  font-size: 0.8em;
  color: #65676e;
}

.blog-detail small {
  font-size: 0.4em;
  color: #f5f5f8;
}

.blog-detail p {
  font-size: 1em;
  color: #65676e;
}

.blog-detail div {
  font-size: 1.1em;
  color: #030c2e;
  background: #7f919c;
  min-height: 7em;
  width: 100%;
  outline: none;
  padding: 10px;
}

.blog .body {
  white-space: pre-line;
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
  color: #a3aac4;
}

.content input, .content textarea {
  margin-bottom: 1em;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
}

input.danger {
  color: #cc2f2e;
}

input[type=submit] {
  align-self: start;
  min-width: 10em;
}

.container-form input[type=text], input[type=password]{
  width: 45%;
}

.container-form i {
  margin-left: -30px;
  cursor: pointer;
}

.container-form p {
  font-size: 1em;
}

.container-form a[class=txt2] {
  color: #f1da09;
}

.container-form span[class=txt1] {
  font-size: 1.5em;
  color: #f15209;
}

.comments p {
  font-size: 1.2em;
  color: #f5f5f8;
}

.comments i {
  font-size: 1.7em;
  color: #0e21cc;
}

.comments u {
  font-size: 0.9em;
  color: #5061a0;
}

.delete-form p {
  font-size: 1.5em;
  color: #f5f5f8;
}

.delete-form a {
  width: 14%;
}

.delete-form i {
  color: #f15209;
}